# These directories contain temporary files used to build dvi, ps, and
# pdf files. They should NEVER go in a commit.
.dvi/
.pdf/

# Many files are produced as output for the compiled documentation
# formats. This leaves them out in one fell swoop:
sheeple*
logo.*

# However, we want the Texinfo source for the manual to be tracked, as
# well as the original logo, so we un-ignore them here:
!sheeple.texinfo
!logo.svg
